datafactory/Data_Extraction_Pipeline/Data_Extraction_Pipeline.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"factoryName":{"type":"string","metadata":"Data Factory name"},"AzureSqlDatabase1":{"type":"string"},"linkService_Githun":{"type":"string"},"AzureSqlDatabase2_landings":{"type":"string"},"AzureDataLakeStorage1":{"type":"string"}},"variables":{"factoryId":"[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"},"resources":[{"name":"[concat(parameters('factoryName'), '/Data_Extraction_Pipeline')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"readIncremental","type":"Lookup","dependsOn":[{"activity":"gitGetterToSQL","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"AzureSqlSource","sqlReaderQuery":"select * from dbo.landing_watermarks;","queryTimeout":"02:00:00","partitionOption":"None"},"dataset":{"referenceName":"AzureSqlTable1","type":"DatasetReference","parameters":{}},"firstRowOnly":false}},{"name":"taskIterations","type":"ForEach","dependsOn":[{"activity":"readIncremental","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"items":{"value":"@activity('readIncremental').output.value","type":"Expression"},"isSequential":true,"activities":[{"name":"src2landing","type":"IfCondition","dependsOn":[],"userProperties":[],"typeProperties":{"expression":{"value":"@equals(item().cdc_value, null)","type":"Expression"},"ifFalseActivities":[{"name":"srcNotNullLoad_Delta","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"AzureSqlSource","sqlReaderQuery":{"value":"select * from dbo.@{item().table_name}\nwhere\ndate_id > '@{item().cdc_value}'","type":"Expression"},"queryTimeout":"02:00:00","partitionOption":"None"},"sink":{"type":"AzureSqlSink","preCopyScript":{"value":"truncate table landings.@{item().table_name}","type":"Expression"},"writeBehavior":"insert","sqlWriterUseTableLock":false,"disableMetricsCollection":false},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}},"inputs":[{"referenceName":"AzureSqlTable1","type":"DatasetReference","parameters":{}}],"outputs":[{"referenceName":"AzureSqlTable2","type":"DatasetReference","parameters":{"sink_tbl":{"value":"@{item().table_name}","type":"Expression"}}}]}],"ifTrueActivities":[{"name":"srcNullLoadFullLoad","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"AzureSqlSource","sqlReaderQuery":{"value":"select * from dbo.@{item().table_name}","type":"Expression"},"queryTimeout":"02:00:00","partitionOption":"None"},"sink":{"type":"AzureSqlSink","preCopyScript":{"value":"truncate table landings.@{item().table_name}","type":"Expression"},"writeBehavior":"insert","sqlWriterUseTableLock":false,"disableMetricsCollection":false},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}},"inputs":[{"referenceName":"AzureSqlTable1","type":"DatasetReference","parameters":{}}],"outputs":[{"referenceName":"AzureSqlTable2","type":"DatasetReference","parameters":{"sink_tbl":{"value":"@{item().table_name}","type":"Expression"}}}]}]}},{"name":"extractCDC","type":"Lookup","dependsOn":[{"activity":"src2landing","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"AzureSqlSource","sqlReaderQuery":{"value":"select max(date_id) cdc from landings.@{item().table_name}","type":"Expression"},"queryTimeout":"02:00:00","partitionOption":"None"},"dataset":{"referenceName":"AzureSqlTable2","type":"DatasetReference","parameters":{"sink_tbl":{"value":"@item().table_name","type":"Expression"}}}}},{"name":"updateWatermark","type":"IfCondition","dependsOn":[{"activity":"extractCDC","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"expression":{"value":"@equals(activity('extractCDC').output.firstRow.cdc, null)","type":"Expression"},"ifFalseActivities":[{"name":"update_watermark","type":"Script","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"linkedServiceName":{"referenceName":"[parameters('AzureSqlDatabase1')]","type":"LinkedServiceReference"},"typeProperties":{"scripts":[{"type":"Query","text":{"value":"@if(\n    not(empty(activity('extractCDC').output.firstRow.cdc)), \n    concat(\n        'UPDATE dbo.landing_watermarks SET cdc_value = ''', \n        activity('extractCDC').output.firstRow.cdc, \n        ''' WHERE table_name = ''', \n        item().table_name, \n        ''''\n    ), \n    \n    'SELECT 1'\n)\n","type":"Expression"}}],"scriptBlockExecutionTimeout":"02:00:00"}}]}},{"name":"database2lake_bronze","type":"Copy","dependsOn":[{"activity":"updateWatermark","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"AzureSqlSource","queryTimeout":"02:00:00","partitionOption":"None"},"sink":{"type":"ParquetSink","storeSettings":{"type":"AzureBlobFSWriteSettings","copyBehavior":{"value":"@item().table_name","type":"Expression"}},"formatSettings":{"type":"ParquetWriteSettings"}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}},"inputs":[{"referenceName":"AzureSqlTable2","type":"DatasetReference","parameters":{"sink_tbl":{"value":"@item().table_name","type":"Expression"}}}],"outputs":[{"referenceName":"dataset_bronze","type":"DatasetReference","parameters":{"table_name":{"value":"@item().table_name","type":"Expression"}}}]}]}},{"name":"gitGetterToSQL","type":"Copy","state":"Inactive","onInactiveMarkAs":"Succeeded","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"DelimitedTextSource","storeSettings":{"type":"HttpReadSettings","requestMethod":"GET"},"formatSettings":{"type":"DelimitedTextReadSettings"}},"sink":{"type":"AzureSqlSink","writeBehavior":"insert","sqlWriterUseTableLock":false,"disableMetricsCollection":false},"enableStaging":false,"translator":{"type":"TabularTranslator","mappings":[{"source":{"name":"Branch_ID","type":"String","physicalType":"String"},"sink":{"name":"Branch_ID","type":"String","physicalType":"varchar"}},{"source":{"name":"Dealer_ID","type":"String","physicalType":"String"},"sink":{"name":"Dealer_ID","type":"String","physicalType":"varchar"}},{"source":{"name":"Model_ID","type":"String","physicalType":"String"},"sink":{"name":"Model_ID","type":"String","physicalType":"varchar"}},{"source":{"name":"Revenue","type":"String","physicalType":"String"},"sink":{"name":"Revenue","type":"Int64","physicalType":"bigint"}},{"source":{"name":"Units_Sold","type":"String","physicalType":"String"},"sink":{"name":"Units_Sold","type":"Int64","physicalType":"bigint"}},{"source":{"name":"Date_ID","type":"String","physicalType":"String"},"sink":{"name":"Date_ID","type":"String","physicalType":"varchar"}},{"source":{"name":"Day","type":"String","physicalType":"String"},"sink":{"name":"Day","type":"Int32","physicalType":"int"}},{"source":{"name":"Month","type":"String","physicalType":"String"},"sink":{"name":"Month","type":"Int32","physicalType":"int"}},{"source":{"name":"Year","type":"String","physicalType":"String"},"sink":{"name":"Year","type":"Int32","physicalType":"int"}},{"source":{"name":"BranchName","type":"String","physicalType":"String"},"sink":{"name":"BranchName","type":"String","physicalType":"varchar"}},{"source":{"name":"DealerName","type":"String","physicalType":"String"},"sink":{"name":"DealerName","type":"String","physicalType":"varchar"}},{"source":{"name":"Product_Name","type":"String","physicalType":"String"},"sink":{"name":"Product_Name","type":"String","physicalType":"varchar"}}],"typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}},"inputs":[{"referenceName":"git_service","type":"DatasetReference","parameters":{"source_files":"SalesData.csv"}}],"outputs":[{"referenceName":"AzureSqlTable1","type":"DatasetReference","parameters":{}}]}],"policy":{"elapsedTimeMetric":{}},"variables":{"table_name":{"type":"String"},"tbl_name":{"type":"String"}},"annotations":[],"lastPublishTime":"2025-01-19T16:10:19Z"},"dependsOn":["[concat(variables('factoryId'), '/datasets/AzureSqlTable1')]","[concat(variables('factoryId'), '/datasets/git_service')]","[concat(variables('factoryId'), '/datasets/AzureSqlTable2')]","[concat(variables('factoryId'), '/datasets/dataset_bronze')]"]},{"name":"[concat(parameters('factoryName'), '/AzureSqlTable1')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('AzureSqlDatabase1')]","type":"LinkedServiceReference"},"annotations":[],"type":"AzureSqlTable","schema":[],"typeProperties":{"schema":"dbo","table":"car_sales"}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/git_service')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('linkService_Githun')]","type":"LinkedServiceReference"},"parameters":{"source_files":{"type":"string"}},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"HttpServerLocation","relativeUrl":{"value":"anshlambagit/Azure-DE-Project-Resources/refs/heads/main/Raw%20Data/@{dataset().source_files}","type":"Expression"}},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/AzureSqlTable2')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('AzureSqlDatabase2_landings')]","type":"LinkedServiceReference"},"parameters":{"sink_tbl":{"type":"string"}},"annotations":[],"type":"AzureSqlTable","schema":[],"typeProperties":{"schema":"landings","table":{"value":"@dataset().sink_tbl","type":"Expression"}}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/dataset_bronze')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('AzureDataLakeStorage1')]","type":"LinkedServiceReference"},"parameters":{"table_name":{"type":"string"}},"annotations":[],"type":"Parquet","typeProperties":{"location":{"type":"AzureBlobFSLocation","folderPath":{"value":"@dataset().table_name","type":"Expression"},"fileSystem":"bronzelayer"},"compressionCodec":"snappy"},"schema":[]},"dependsOn":[]}]} 
